.main {  
    display: flex;
    justify-content: space-between;    
    padding: 0 0 30px 0;

    img {
        flex: 1;
        max-width: 100%;
        min-width: 0;
        object-fit: contain;
        display: block;
    }
}

.info {   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    flex: 1;
    width: 70vw;
   

    h1 {
        font-size:90px;
        color:#205691;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 700;
        max-width: 45rem;       
    }

    p{
        font-family: 'Inter' , sans-serif;
        color:#205691;
        font-size: 24px;
        font-weight: 400;
        max-width: 45rem;
    }

    button {
        border:none;
        font-family: "Source Sans 3", sans-serif;
        background-color: #fd7267;
        color:#fff;
        padding: 20px 0;
        max-width: 330px;
        font-size: 24px;
        font-weight: 400;
        cursor: pointer;
        border-radius: 3px;
    }
}

.infoDados {   
    display: flex;
    justify-content: space-between;       

    article {        
        width: 168px;
        height: 100px;

        h2, 
        h3 {
            color:#205691;
            text-align: center;
        }

        h2 {
            font-family: "Source Sans 3" , sans-serif;
            font-size: 50px;
            font-weight: 700;
        }

        h3 {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media (max-width: 1194px) {
    .main{
        height: 100vh;;
    }
}

@media(max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        justify-content: space-evenly;
                
        img {
            width: 100%;
            max-width: 522px;
        }
    }

    .info {
        width: 100%;
        justify-content: space-between;
        align-items: center;       
        
        h1{
            font-size: 80px;
        }

        h1, 
        p {
            text-align: center;
           
        }

        button {
            font-size: 20px;
            padding: 15px;
            margin: 20px 0;
        }
    }

    .infoDados {
        article {
            width: 120px;

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 12px;
            }
        }
    }    
}

@media(max-width: 500px){
    .main {
        height: 1000px;       
    }  

    .info {
        h1{
            font-size: 40px;
        }

        p{
            font-size: 16px;
        }
    }
}

@media(max-width: 400px) {

    .infoDados {
        flex-direction: column;
    }
}