.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    justify-content: space-evenly;
    
    h1 {
        font-family: "Source Sans 3" , sans-serif;
        color:#205691;
        font-size: 60px;        
    }
}

    .cards {       
        display: flex;
        width: 100%;
        justify-content: space-around;
              
        article {
            flex: 1;            
            display: flex;
            justify-content: space-around;
        }

        article:not(:last-child) {
            border-right: 1px solid #CBCBCB;
        }
    }

@media (max-width: 768px) {
    .main {
        height: 160vh;
        padding: 0 20px;

        h1 {
            font-size: 40px;
        }

        .cards {
            flex-wrap: wrap;
            gap: 10px;
            
            article {
                min-width: 250px;
            }

            article:not(:last-child) {
                border-right: none;
            }
        }
    }     
}

@media (max-width: 1194px) {
    .main{
        height: 200vh;;
    }
    .cards {
        flex-wrap: wrap;
        gap: 10px;
                
         article {
                min-width: 450px;
            }
    }
}

@media (max-width: 540px) {
    .main {
        height: 220vh;
    }       
}

